<div class="container pt-5">
  <div class="user-info py-6">
    <div class="d-flex justify-content-between align-items-center">
      <h1><%= @owner.first_name %> <%= @owner.last_name %></h1>
      <%= link_to "Back to all owners", owner_attributes_path %>
    </div>

    <p>Email: <%= @owner.user.email %></p>
    <p>Address: <%= @owner.address %></p>
    <p>Phone number: <%= @owner.phone_number %></p>
  </div>

  <hr>

  <div class="all-animals-container">
    <h2>Pets:</h2>
    <p><%= link_to "Add new animal", new_owner_attribute_animal_path(@owner) %></p>


    <div class="unarchived-animals-container d-flex justify-content-center text-center">
      <% @animals.each do |animal| %>
        <div class="animal-card border rounded m-2 p-4">
          <div class="card-animal-info">
            <%= link_to(animal) do %>
            <h3><%= animal.name %></h3>
            <p>Species: <%= animal.species %></p>
            <p>Breed: <%= animal.breed %></p>
            <p>Gender: <%= animal.gender %></p>
            <% end %>
          </div>
          <%= link_to "Archive animal", animal_archive_path(animal) %>
        </div>
      <% end %>
    </div>

    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Archived Animals
    </a>
    <div class="collapse" id="collapseExample">
      <div class="archived-animals-container d-flex justify-content-center text-center" >
        <% @archived_animals.each do |animal| %>
          <div class="animal-card border rounded m-2 p-4">
            <div class="card-animal-info">
              <%= link_to(animal) do %>
              <h3><%= animal.name %></h3>
              <p>Species: <%= animal.species %></p>
              <p>Breed: <%= animal.breed %></p>
              <p>Gender: <%= animal.gender %></p>
              <% end %>
            </div>
            <%= link_to "Unarchive animal", animal_unarchive_path(animal) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <p><%= link_to "Update #{@owner.first_name} #{@owner.last_name}'s details", edit_owner_attribute_path(@owner) %></p>

</div>
