<h1><%= @user.name %></h1>

<p>Email: <%= @user.email %></p>
<p>Email: <%= @user.address %></p>

<br>
<br>
<hr>

<h2>Animals:</h2>
<ul>
  <% @animals.each do |animal| %>
    <li>
      <%= animal.name %>
      <%= animal.species %>
      <%= animal.gender %>
    </li>
  <% end %>
</ul>

<hr>

<h2>Add new animal</h2>

<hr>

<%= link_to "Back to all users", users_path %>
