<h1>Edit details for <%= @animal.name %></h1>

<%= form_with model: @animal do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :species %>
  <%= f.text_field :species %>
  <%= f.label :gender %>
  <%= f.text_field :gender %>
  <%= f.label :weight %>
  <%= f.text_field :weight %>
  <%= f.submit %>
<% end %>

<%= link_to "Back", animal_path(@animal) %>
