<div class="container pt-4">
  <p>Name: <%= @animal.name %></p>
  <p>Species: <%= @animal.species %></p>
  <p>Breed: <%= @animal.breed %></p>
  <p>Gender: <%= @animal.gender %></p>
  <p>Current medications:
    <% @current_meds.each do |meds| %>
      <%= meds %>
    <% end %>
  </p>

  <hr>
  <h3>Add new note:</h3>
  <%= simple_form_for [@animal, @new_note], url: note_create_animal_path(@animal) do |f| %>
    <div class="d-flex">
      <%= f.input :content, placeholder: "Write clinical note here", label: false %>
      <%= f.hidden_field :datetime_note_created, value: Date.today %>
      <%= f.button :submit, "Save note" %>
    </div>
  <% end %>

  <h3>Add new medication:</h3>
  <%= simple_form_for [@animal, @medication], url: medications_path(@animal) do |f| %>
  <%= f.input :name, collection: Medication::MEDICATION_LIST %>
  <%= f.button :submit, "Save medication" %>
  <% end %>

  <hr>

  <h3>All notes:</h3>
  <% @all_notes.each do |note| %>
  <div class="d-flex justify-content-between">
    <p><%= note.content %></p>
    <div>
      <p><%= note.vet_attribute.name %></p>
      <p><%= note.datetime_note_created.in_time_zone("London").strftime("%d %b %Y %H:%M") %></p>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <%= link_to "Edit", edit_note_path(note) %>
  </div>
  <% end %>
</div>
