<div class="container pt-4">
  <div class="history-animal-details">
    <div class="history-animal-details-info">
      <div class="row">
        <div class="col d-flex align-items-center">
          <h6>Name:</h6> <p>
          <%= @animal.name %></p>
        </div>
        <div class="col d-flex align-items-center">
          <h6>Species:</h6>
          <p><%= @animal.species %></p>
        </div>
        <div class="col d-flex align-items-center">
          <h6>Breed:</h6>
          <p><%= @animal.breed %></p>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex align-items-center">
          <h6>Age: </h6>
        </div>
        <div class="col d-flex align-items-center">
          <h6>Weight:</h6>
          <p><%= @animal.current_weight %>kg</p>
        </div>
        <div class="col d-flex align-items-center">
          <h6>Gender:</h6>
          <p><%= @animal.gender %></p>
        </div>
      </div>
    </div>
    <div class="history-animal-details-current-medications pt-3">
      <h6>Current medications:</h6>
        <% @current_meds.each do |meds| %>
          <ul>
            <li><p><%= meds.name %> : <strong><%= (meds.end_date - Date.today).to_i %> days left</strong></p></li>
          </ul>
        <% end %>
    </div>
  </div>

  <hr>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button" role="tab" aria-controls="nav-notes" aria-selected="true">Notes</button>
      <button class="nav-link" id="nav-history-tab" data-bs-toggle="tab" data-bs-target="#nav-history" type="button" role="tab" aria-controls="nav-history" aria-selected="false">History</button>
      <button class="nav-link" id="nav-weight-tab" data-bs-toggle="tab" data-bs-target="#nav-weight" type="button" role="tab" aria-controls="nav-weight" aria-selected="false">Weight</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab" tabindex="0">
      <div class="pt-3">
        <h3>Add new note:</h3>
        <%= simple_form_for [@animal, @new_note], url: note_create_animal_path(@animal) do |f| %>
          <div class="d-flex">
            <%= f.input :content, placeholder: "Write clinical note here", label: false %>
            <%= f.hidden_field :datetime_note_created, value: Date.today %>
            <%= f.button :submit, "Save note" %>
          </div>
        <% end %>

        <h3 class="pt-3">Add new medication:</h3>
        <%= simple_form_for [@animal, @medication], url: medications_path(@animal) do |f| %>
        <%= f.input :name, collection: Medication::MEDICATION_LIST %>
        <div class="d-flex py-2">
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
        </div>
        <%= f.input :quantity_dispensed %>
        <%= f.input :frequency_to_give_per_day, label: "How many times per day?" %>
        <%= f.button :submit, "Save medication" %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab" tabindex="0">
      <div>
        <div class="mt-3">
          <h3>All notes:</h3>
        </div>
        <% @all_notes.each do |note| %>
        <div class="my-4">
          <div class="d-flex justify-content-between">
            <strong><h5><%= note.datetime_note_created.in_time_zone("London").strftime("%d %b %Y, %H:%M") %></h5></strong>
            <h5><%= note.vet_attribute.name %></h5>
          </div>
          <div class="d-flex justify-content-between">
            <p><%= note.content %></p>
            <%= link_to "Edit", edit_note_path(note) %>
          </div>
          <% if !@all_medications.empty? %>
            <h5>Medication:</h5>
            <% @all_medications.each do |medication| %>
              <ul>
                <% if medication.created_at.to_date == note.created_at.to_date %>
                  <li><p><%= medication.name %></p></li>
                  <p>Number of days: <%= (medication.end_date - medication.start_date).to_i %></p>
                  <% if medication.quantity_dispensed && medication.frequency_to_give_per_day != nil %>
                    <p>Quantity: <%= medication.quantity_dispensed %></p>
                    <p>Amount to give per day: <%= medication.frequency_to_give_per_day %></p>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div>
        <hr>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-weight" role="tabpanel" aria-labelledby="nav-weight-tab" tabindex="0">
      <%= simple_form_for @new_weight do |f| %>
        <%= f.input :weight, label: "Update weight" %>
        <%= f.hidden_field :date_weight_updated, value: Date.today %>
        <%= f.button :submit, "Update", class: "update-weight-btn btn-flat" %>
        <% end %>
      <%= line_chart Weight.where(animal_id: params[:id]).group_by_day(:created_at).maximum(:weight) %>
    </div>
  </div>
</div>
