<div class="container mx-auto pt-4">
  <div class="animal-info">
    <div class="animal-info-header flex justify-between items-center">
      <h1><%= @animal.name %></h1>
      <p>Change details for <%= @animal.name %> <%= link_to "here", edit_animal_path(@animal) %></p>
    </div>

    <p>Species: <%= @animal.species %></p>
    <p>Breed: <%= @animal.breed %></p>
    <p>Gender: <%= @animal.gender %></p>
    <div class="animal-weight-info flex">
      <p>Weight: <%= @animal.weight %></p>
      <div class="animal-weight-form flex">
        <div>
          <%= simple_form_for @animal do |f| %>
          <%= f.input :weight, label: '_' %>
        </div>
        <div class="btn">
          <%= f.submit 'Update weight' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <h3>Appointments</h3>
  <% @appointments.each do |appointment| %>
    <div class="appointment-card border my-4">
      <p><%= appointment.start_time.strftime("%A %-d %B %Y") %></p>
      <p>Time: <%= appointment.start_time.strftime("%H:%M:%S") %></p>
      <p>With: Dr <%= appointment.vet.name %></p>
      <p>Reason for appointment: <%= appointment.reason_for_appointment %></p>
    </div>
  <% end %>

  <hr>

  <%= link_to "Back to user profile", user_path(@user) %>

  <hr>

  <%= link_to "Delete #{@animal.name}", animal_path(@animal), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
