<div class="container pt-5">
  <div class="animal-info">
    <div class="animal-info-header">
      <div class="d-flex justify-content-between align-items-center">
        <h1><%= @animal.name %></h1>
        <%= link_to "Back to owner profile", owner_attribute_path(@owner) %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Species: <%= @animal.species %></p>
      </div>
      <div class="col">
        <p>Breed: <%= @animal.breed %></p>
      </div>
      <div class="col">
        <p>Gender: <%= @animal.gender %></p>
      </div>
    </div>
    <div class="animal-weight-info d-flex justify-content-between align-items-center">
      <p>Weight: <%= @animal.current_weight %>kg</p>
      <div class="animal-weight-form d-flex align-items-center">
        <div>
          <%= simple_form_for @new_weight do |f| %>
          <%= f.input :weight, label: "Update weight" %>
          <%= f.hidden_field :date_weight_updated, value: Date.today %>
        </div>
        <div>
          <%= f.button :submit, "Update", class: "update-weight-btn btn-flat" %>
          <% end %>
        </div>
      </div>
    </div>
    <a class="btn btn-flat" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      See weight chart
    </a>
    <div class="collapse" id="collapseExample">
      <%= line_chart Weight.where(animal_id: params[:id]).group_by_day(:created_at).maximum(:weight) %>
    </div>

  <hr>

  <h3>Upcoming Appointments:</h3>
  <% @appointments.each do |appointment| %>
    <div class="appointment-card border my-4">
      <p><%= appointment.start_time.strftime("%A %-d %B %Y") %></p>
      <p>Time: <%= appointment.start_time.strftime("%H:%M:%S") %></p>
      <p>With: Dr <%= appointment.vet_attribute.name %></p>
      <p>Reason for appointment: <%= appointment.reason_for_appointment %></p>
    </div>
  <% end %>

  <hr>

  <h3><%= @animal.name %>'s Current Medication:</h3>
  <% if @active_medications_array.empty? %>
    <p><%= @animal.name %> doesn't have any medications at the moment!</p>
  <% else %>
    <% @active_medications_array.each do |medication| %>
      <ul>
        <li><p><%= medication.name %></p></li>
        <p><%= (medication.end_date - medication.start_date).to_i %> days left</p>
        <p>Dispensed: <%= medication.start_date.strftime("%d %b %Y") %>, Until: <%= medication.end_date.strftime("%d %b %Y")%></p>
        <% if medication.frequency_to_give_per_day == nil %>
          <p>Give as instructed by your vet</p>
        <% else %>
          <p>Give <%= medication.frequency_to_give_per_day %> times a day</p>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <a class="btn btn-flat" data-bs-toggle="collapse" href="#collapseMedications" role="button" aria-expanded="false" aria-controls="collapseMedications">
    See all medications
  </a>
  <div class="collapse" id="collapseMedications">
    <% @all_medications.each do |medication| %>
      <ul>
        <li><p>Dispensed: <%= medication.start_date.strftime("%d %b %Y") %></p></li>
        <p><%= medication.name %></p>
        <p>Until: <%= medication.end_date.strftime("%d %b %Y") %>, (<%= (medication.end_date - medication.start_date).to_i %> days)</p>
        <% if medication.frequency_to_give_per_day == nil %>
          <p>Instructions: Give as instructed by your vet</p>
        <% else %>
          <p>Instructions: Give <%= medication.frequency_to_give_per_day %> times a day</p>
        <% end %>
      </ul>
    <% end %>
  </div>

  <hr>

  <p>Change details for <%= @animal.name %> <%= link_to "here", edit_animal_path(@animal) %></p>

  <hr>

  <%= link_to "Delete #{@animal.name}", animal_path(@animal), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
