<div class="container">
  <div class="animal-info">
    <div class="animal-info-header flex justify-between items-center">
      <h1><%= @animal.name %></h1>
      <p>Change details for <%= @animal.name %> <%= link_to "here", edit_animal_path(@animal) %></p>
    </div>

    <p>Species: <%= @animal.species %></p>
    <p>Breed: <%= @animal.breed %></p>
    <p>Gender: <%= @animal.gender %></p>
    <div class="animal-weight-info d-flex justify-content-between align-items-center">
      <p>Weight: <%= @animal.current_weight %>kg</p>
      <div class="animal-weight-form d-flex align-items-center">
        <div>
          <%= simple_form_for @new_weight do |f| %>
          <%= f.input :weight, label: "Update weight" %>
          <%= f.hidden_field :date_weight_updated, value: Date.today %>
        </div>
        <div>
          <%= f.button :submit, "Update" %>
          <% end %>
        </div>
      </div>
    </div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      See weight chart
    </a>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <%= line_chart Weight.where(animal_id: params[:id]).group_by_day(:created_at).maximum(:weight) %>
      </div>
    </div>

  <hr>

  <h3>Appointments</h3>
  <% @appointments.each do |appointment| %>
    <div class="appointment-card border my-4">
      <p><%= appointment.start_time.strftime("%A %-d %B %Y") %></p>
      <p>Time: <%= appointment.start_time.strftime("%H:%M:%S") %></p>
      <p>With: Dr <%= appointment.vet.name %></p>
      <p>Reason for appointment: <%= appointment.reason_for_appointment %></p>
    </div>
  <% end %>

  <hr>

  <%= link_to "Back to user profile", user_path(@user) %>

  <hr>

  <%= link_to "Delete #{@animal.name}", animal_path(@animal), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
