<%= link_to "See all users", users_path %>

<hr>

<div class="container">
  <h1>Appointments available today</h1>

  <% @available_slots.each do |slot| %>
    <div class="flex">
      <p>start time: <%= slot.start_time.strftime("%H:%M:%S") %></p>
      <p>end time:<%= slot.end_time.strftime("%H:%M:%S") %></p>
    </div>
  <% end %>

  <hr>

  <h1>Booked appointments</h1>
  <ol>
    <% @booked_appointments.each do |appointment| %>
      <li>
        <p>Animal:<%= appointment.animal.name %></p>
        <p>Start time: <%= appointment.start_time.strftime("%H:%M:%S") %></p>
        <p>End time: <%= appointment.end_time.strftime("%H:%M:%S") %></p>
        <p>Reason for appointment: <%= appointment.reason_for_appointment %></p>
        <p><%= link_to "See details", appointment_path(appointment) %></p>
      </li>
    <% end %>
  </ol>

  <hr>

  <div class="container text-center">
    <div class="row row-cols-5">
      <div class="col border"></div>
      <div class="col border">Vet1</div>
      <div class="col border">Vet2</div>
      <div class="col border">Vet3</div>
      <div class="col border">Nurse</div>

      <div class="col border">9:00</div>
      <div class="col border"></div>
      <div class="col border"></div>
      <div class="col border"></div>
      <div class="col border"></div>

      <div class="col border">9:15</div>
      <div class="col border"></div>
      <div class="col border"></div>
      <div class="col border"></div>
      <div class="col border"></div>

      <div class="col border">9:30</div>
      <div class="col border"></div>
      <div class="col border"></div>
      <div class="col border"></div>
      <div class="col border"></div>

      <div class="col border">9:45</div>
      <div class="col border"></div>
      <div class="col border"></div>
      <div class="col border"></div>
      <div class="col border"></div>

      <div class="col border">10:00</div>
      <div class="col border"></div>
      <div class="col border"></div>
      <div class="col border"></div>
      <div class="col border"></div>

    </div>
  </div>
</div>
